@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes pulse {
  0%, 100% {
    opacity: 1;
    transform: scale(1);
  }
  50% {
    opacity: 0.7;
    transform: scale(1.3);
  }
}

body {
  background-color: #121212;
  color: #F5F5F5;
}
